@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

.logoCode {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

// modules

.card-link {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}